<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale.product_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
